// LMS-specific variables

@import '_builtin-block-variables';

$text-width-readability-max: 1080px;

// LMS-only colors
$audit-mode-color: rgb(74, 74, 74) !default;
$honor-mode-color: red !default;
$verified-mode-color: red !default;
$professional-certificate-color: red !default;
